---
page_title: "humid Resource - terraform-provider-humid"
subcategory: ""
description: |-
  The resource humid generates random human-friendly id strings that are intended to be used as unique identifiers for other resources.
---

# humid (Resource)

The resource humid generates random human-friendly id strings that are intended to be used as unique identifiers for other resources.

This resource uses [kscarlett/humid](https://github.com/kscarlett/humid) to generate unique names.

## Example usage

{{ tffile "examples/humid.tf" }}

## Schema

{{- .SchemaMarkdown -}}